PORT=3000
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
FIREBASE_PROJECT_ID=inventory-app-e9d00
FIREBASE_PRIVATE_KEY_ID=c4feb1d52658bc5e48ad255b06fd7ed3ae7e2c95
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQC7QjPSYHl7gGfF\n...\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@inventory-app-e9d00.iam.gserviceaccount.com
FIREBASE_CLIENT_ID=116812885812348817377
FIREBASE_CLIENT_CERT_URL=https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-fbsvc%40inventory-app-e9d00.iam.gserviceaccount.com
FIREBASE_DATABASE_URL=https://inventory-app-e9d00.firebaseio.com